.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  width: 3rem;
  padding: 0.2rem;
}

.text-center {
  text-align: center;
}

@media only screen and (min-width: 601px) {
  div.navbar {
    margin-left: 50px;
    margin-right: 50px;
    flex: 100%;
    flex-direction: row;
  }
  .box {
    display: inlineBlock;
    margin: 30px auto 20px auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }

  .calendar {
    margin: 30px auto 20px auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
  }

  abbr[title] {
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  div.navbar {
    flex: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  img {
    text-align: center;
    justify-content: center;
    height: 150px;
  }
  h4#title {
    text-align: center;
    font-size: medium;
  }
  .box {
    flex-direction: column;
    display: inlineBlock;
    margin: 25px auto 15px auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
  }

  .calendar {
    margin: 20px auto 10px auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
  }

  abbr[title] {
    text-decoration: none;
  }
}

/* abhsk
   */

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #c83636;
  font-weight: bold;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #8b8ba4;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
